@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
/* body {
  background-color: #1b345b;
} */

/* Background */
#test-1 {
  min-width: 100vw;
  min-height: 100vh;
  /* background-color: #1b345b; */
  background: linear-gradient(
    -90deg,
    hsla(208, 33%, 11%, 1) 0%,
    hsla(211, 36%, 36%, 1) 100%
  );
  z-index: -2;
  position: fixed;
  top: 0;
}
#test-2 {
  position: fixed;
  top: 0;
  z-index: -1;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/WhiteNoiseDithering.png");
  opacity: 0.07;
}

/* Main Container */
#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* .main-content{
    margin-top: 10vmin;
} */

/* Navbar Designing */
#navbar-main {
  position: sticky;
  top: 0;
  padding: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navbar {
  /* z-index: 100; */
  background-color: aliceblue;
  width: 80vw;
  padding: 1vmin 5vmin;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* opacity: 0.5; */
  transition: all 0.2s;
  /* box-shadow: 0px 0px 6px #F6ECE2; */
}
.options {
  display: flex;
  gap: 4vmin;
}
.option {
  font-size: 2.3vmin;
  cursor: pointer;
  transition: all 0.2s;
}
.option:hover {
  transform: scale(1.1);
}
.logo:hover {
  cursor: pointer;
  .tech {
    color: rgb(250, 74, 74);
  }
  .fails {
    color: #1b345b;
  }
}
.logo-text {
  font-size: 2vmax;
  font-weight: 600;
  transition: all 0.2s;
}
.tech {
  color: #1b345b;
}
.fails {
  color: rgb(250, 74, 74);
}

/* Home Page Designing */
.home-parent {
  color: white;
  /* padding: 0vmin 10vmin; */
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20vmin;
}
.computer-img {
  width: 30vmax;
}
.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vmin;
}

/* Listings Page Designing */

#listings-parent {
  flex: 1;
  padding: 2vmin 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.username {
  color: white;
  font-size: 4vmin;
}
/* Card Designing */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 0.2s;
}
.card-img > img:hover {
  box-shadow: 0px 0px 4px #1b345b;
}
.card-img {
  padding-bottom: 1vmin;
  cursor: pointer;
}
.card-img > img {
  border-radius: 10px;
  width: 20vmax;
  height: 15vmax;
  transition: all 0.2s;
}
.card-author {
  align-self: flex-end;
}
.card-tagline {
  font-size: 1vmax;
  font-weight: 700;
}
.card-social {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2vmin;
}

.likes,
.comments {
  display: flex;
  align-items: center;
  gap: 0.6vmin;
  cursor: pointer;
}
.newPostBtn {
  position: fixed;
  bottom: 3vmin;
  right: 3vmin;
}

.form-parent {
  flex: 1;
  padding: 5vmin 10vmin;
  display: flex;
  flex-direction: column;
  gap: 1vmin;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
  /* color: rgb(198, 232, 255); */
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  padding: 2vmin;
  border-radius: 10px;
  background-color: rgb(213, 227, 239);
  gap: 2vmin;
}
.err {
  color: red;
  font-size: 1.5vmin;
  margin-top: 0.5vmin;
}

.detailed-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  padding: 10vmin;
}
.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.details-parent {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  /* gap: 10vmax; */
  color: white;
}

.details-img > img {
  border-radius: 10px;
  width: 30vw;
  height: 40vh;
}

.details-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vmin;
  width: 50vw;
  text-align: center;
}
.details-title {
  font-size: 3vmax;
  text-decoration: underline;
}
.details-tagline {
  font-size: 1.5vmax;
}
.details-description {
  font-size: 2vmin;
}
.details-btns {
  display: flex;
  justify-content: center;
  gap: 5vmin;
}

.users-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5vmin;
  align-items: center;
  padding: 5vmin;
}
.users {
  display: flex;
  flex-wrap: wrap;
  gap: 10vmin;
}

/* Media Queries for responsive */
@media (max-width: 1000px) {
  .computer-img {
    width: 25vmax;
  }
  .details-parent {
    flex-direction: column;
  }
  .details-text {
    width: 80vw;
  }
  .details-img > img {
    width: 60vw;
    height: 20vh;
  }
  .details-parent {
    gap: 1vmin;
  }
}
@media (max-width: 600px) {
  .home-parent {
    flex-direction: column;
    justify-content: center;
  }
}
